@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background-color: #414150;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* --- NAV --- */
.nav {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #212332;
    font-size: 1.1rem;
    z-index: 1;

    position: sticky;
    top: 0;
}

.nav-title {
    text-transform: uppercase;
    font-size: 2.5rem;
    align-self: center;

    color: #E2E7E8;
}

.nav-ul {
    align-self: center;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.nav-li {
    display: flex;
    align-items: center;
    text-align: center;

    list-style: none;
    min-width: 5rem;
    height: 2rem;
}

.nav-li > a {
    width: 100%;
    text-align: center;
    color: #C8CCCD;
    transition: 0.5s;
}

.nav-li > a:hover  {
    color: #3BCBCA;
}

/* --- MAIN --- */
/* --- MAIN CONTENT --- */
.main-content {
    width: 100%;
    height: 100%;
}

/* --- ARTICLES --- */
.article {
    filter: grayscale(40%);
    width: 100%;
    height: 100%;
}

/* --- FOOTER --- */
.footer {
    background-color: #161822;
    height: 18rem;
    color: #C8CCCD;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.footer-help li:first-child  {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10%;
}

.footer-help li a:hover {
    color: #2C8F8F;
}